.sidebar{
	flex: 1;
	border-right: 1px solid rgb(190, 184, 184);
	background-color: royalblue;
	// background-color: rgb(4, 15, 48);
	color: white;

	.logo{
		height: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: 700;
		font-size: 1.2rem;
	}
	hr{
	border-top: 1px solid rgb(190, 184, 184);

	}
	.title{
		margin-top: .5rem;
		margin-bottom: 0;
		padding: 0;
		text-transform: uppercase;
		font-size: .7rem;
		opacity: .6;
	}

	.center li{
		padding: .3rem;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			gap: .5rem;
			width: 90%;
			margin: auto;
			border-radius: 4px;
			cursor: pointer;
			font-weight: 500;
			&:hover ,&:focus {
				background-color: white;
				color: darkorange;
			}
			
		 }

		 .bottom{
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
			gap: 1rem;
			// background-color: aqua;
			div{
				width: 20px;
				height: 20px;
				background-color: rgb(255, 255, 255);
				border-radius: 4px;
			}
			&:first-child{background-color: white;}
			&:nth-child(2){background-color: red;}

		 }
	
}